<launch>

    <arg name="scene" default="$(find p3dx_sim)/scene/lab2.ttt"/>
    <arg name="COPPELIA_PATH" default="$HOME/coppelia"/>
    <include file="$(find p3dx_description)/launch/robot.xml" />
    <node name="sim_node" pkg="p3dx_sim" type="sim_node.py" args="$(arg scene) $(arg COPPELIA_PATH)" />

</launch>
